{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Me{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row justify-content-start">
        <div class="col-3">
            <img src="{{ asset('img/bob-eponge.jpg')}}"
                 class="img-thumbnail" alt="Bob Eponge">
        </div>
        <div class="col-8">
            <p>Je m'appelle Bob Eponge.  Je suis agent mandataire indépendant en immobilier pour moi même. Je travaille la où je peux.
                Je suis votre unique interlocuteur et travaille avec un nombre de biens limités pour pouvoir assurer un service de qualité et un suivi permanent.</p>
            <p>Je vais mettre tout en œuvre pour vendre votre bien rapidement et au bon prix, en mettant en valeur votre bien grâce à des photos de qualité, vidéo, visite virtuelle en vous proposant différents services d'aide et de conseil, une estimation sérieuse de votre bien, la mise en annonce sur tous les portails immobiliers, ainsi que ceux réservés aux professionnels.

                Une remontée d'annonce régulière vous permettra d'être toujours visible en première page, et un suivi de vos visites vous permettra de connaitre le retour des acheteurs sur votre bien.</p>
        </div>
    </div>
</div>

{% endblock %}



